################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/InheritanceOfObjectsTask/InheritanceOfObjectsTask/obj
/InheritanceOfObjectsTask/InheritanceOfObjectsTask/bin/Debug/netcoreapp3.1
/InheritanceOfObjectsTask/.vs/InheritanceOfObjectsTask/v16
/.vs
